@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Work+Sans&display=swap');

:root {
    --bg: #252a34;
    --bg-dark: #cea5a5;
    --color: #eaeaea;
    --light-color: #eaeaeaa4;
    --primary-color: #4a00e0;
    --secondary-color: #3cd3e5;
    --dark-color: #2153e5;
    --font: 'Crimson Text', serif;
    --secondary-font: 'Work Sans', sans-serif;
}

body {
    background: var(--bg);
    color: var(--color);
    font-family: var(--font);
    font-size: 1.9em;
    letter-spacing: 2px;
    text-align: center;
    border-width: 100px 1.5em;
    
    
}


.padding {
    padding-top: 50px;
}

img {
    border-radius: 500%;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
}


   
a {
    text-decoration: none;
    color: var(--color);
    transition: color 1s;
    border-style:outset;
    border-width: medium;
}



a:hover {
    background: var(--secondary-color);
    border-radius: 0 25px;
}


